<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>회원가입 | 로그인</title>
</head>
<section class="main">
    <div class="content">
        <p>Sign in</p>
        <form method="post">
            <input placeholder="    ID" type="text" name='id' required><br>
            <input placeholder="    Password" type="password" name="pw" required><br><br>
            <input class="llll" type="submit" value="Sign in">
        </form>
        <div class="mix">
            <p class="tt">Don't have an account?</p>
        <button class="ll" onclick="location.href='./'">Home</button>
        <button class="lll" onclick="location.href='./register'">Sign up</button>
        </div>
    </div>

</section>
</html>