<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>회원가입/로그인</title>
</head>
<section class="main">
    <div class="content">
        <div>
            <p>Sign up</p>
            <form method="post">
                <input placeholder="     ID" type="text" name='id' required><br>
                <input placeholder="     Password" type="password" name="pw" required><br>
                <input placeholder="     Name" type="text" name="name" required><br>
                <input placeholder="     Age" type="number" name="age" required><br><br>
                <input class="sg" type="submit" value="Sign up">
            </form>
            <div class="have">Already have an account?</div>
            <button class="ll" onclick="location.href='./login'">Sign in</button>
            <button class="lll" onclick="location.href='./'">Home</button>
        </div>
    </div>
</section>
</html>